/*Nav*/



/*Articles*/



/*Body*/
body{
    margin: o;
}
.myprogress {
    min-width: 100%;
    margin: 0px auto;
    text-align: center;
    }
    .myprogress .circle,
    .myprogress .bar {
    display: inline-block;
    background: #fff;
    width: 100px; 
    height: 100px;
    border-radius: 80px;
    border: 1px solid #d5d5da;
    }
    .myprogress .bar {
    position: relative;
    width: 80px;
    height: 2px;
    top: -5px;
    border: 0px solid #d5d5da;
    background:#000;
    }
    .myprogress .circle .label {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 40px;
    font-size: 24px;
    }
    .myprogress .circle .title {
    color: #b5b5ba;
    font-size: 24px;
    line-height: 100px;
    }
  


    /*Colors*/
  
    .uk-section-primary{
background-color: #FEF9F5;
    }
    .uk-section-secondary{
        background-color:#fff;
    }
/*Buttons*/




/*Cards*/




/*Footer*/
